/* CSS Custom Properties */
:root {
  --main-text-color: #757575;
  --main-title-color: #212121;
  --nav-text-color: #212121;
  --active-color: #2196f3;
  --main-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* GLOBAL STYLES */
body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-text-color);
  margin-left: auto;
  margin-right: auto;
}

/* RESET STYLES*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
.logo-link,
.nav-link,
.email-link,
.phone-link,
.geo-link,
.projects-link {
  text-decoration: none;
  font-style: normal;
  color: inherit;
}
.nav-list,
.team-list,
.works-list,
.advantages-list,
.footer-address-list,
.header-address-list,
.filter-list,
.projects-list,
.social-link-list,
.clients-list,
.footer-social-link-list {
  list-style-type: none;
}
.filter-btn,
.hero-btn {
  font-family: inherit;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* PATTERN */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* CONTAINER */
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* HEADER */
.header {
  border-bottom: #ececec solid 1px;
}
header > .container {
  align-items: center;
  display: flex;
}

/* HEADER-LOGO */
.first-part-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: #2196f3;
}
header .second-part-logo {
  color: #000000;
}

/* HEADER-NAVIGATION */
.nav {
  margin-left: 93px;
}
.nav-list {
  padding: 0;
  display: flex;
}
.nav-list li:not(:last-child) {
  margin-right: 50px;
}
.nav-link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--nav-text-color);

  position: relative;

  transition: color 250ms var(--main-timing-function);
}
.current {
  color: var(--active-color);
}
.current::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 3px;

  position: absolute;
  bottom: -1px;

  background-color: var(--active-color);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--active-color);
}

/* HEADER-HEADER ADDRESS */
.header-address-list {
  display: flex;
  margin-left: auto;
}
.header-address-list li:not(:last-child) {
  margin-right: 30px;
}
.header-address-email > .email-link,
.header-address-phone > .phone-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms var(--main-timing-function);
}
.email-link:hover,
.email-link:focus,
.phone-link:hover,
.phone-link:focus {
  color: var(--active-color);
}
.icon-envelope {
  margin-right: 10px;
  fill: currentColor;
}
.icon-phone {
  margin-right: 10px;
  fill: currentColor;
}

/* MAIN */
/* MAIN-HERO */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
}
.hero-btn {
  display: block;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  border-radius: 4px;
  border: unset;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 0;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
  transition: background-color 250ms var(--main-timing-function);
}

/* MAIN-ADVANTAGES */
.advantages {
  padding-bottom: 0;
  padding-top: 94px;
  padding-bottom: 94px;
}
.advantages-item {
  width: calc((100%- (30px * 3)) / 4);
}
.advantages-list .advantages-item:not(:last-child) {
  margin-right: 30px;
}
.advantages-list {
  display: flex;
}
.advantages-icon {
  display: flex;
  height: 120px;
  background-color: #f5f4fa;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  border-radius: 4px;
}
.advantages-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
  margin-bottom: 10px;
}
.advantages-item-text {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}

/* MAIN-WORSK */
.works {
  text-align: center;
  padding-bottom: 94px;
}
.works-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(41 / 36);
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  margin-bottom: 50px;
}
.works-list {
  display: flex;
}

.works-item-wrapper {
  position: relative;
}
.works-item-text {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  height: 70px;
  width: 100%;
  bottom: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}
.works-list > .works-item:not(:last-child) {
  margin-right: 30px;
}

/* MAIN-TEAM */
.team {
  text-align: center;
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(41 / 36);
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}
.team-list {
  display: flex;
  margin-top: 50px;
}
.team-list > .team-item:not(:last-child) {
  margin-right: 30px;
}
.team-item {
  width: calc((100%-30px * 3) / 4);
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}
.team-item-text {
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  margin-top: 10px;
}
.social-link-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.social-link-item:not(:last-child) {
  margin-right: 10px;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms var(--main-timing-function);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--active-color);
}
.social-link-icon {
  fill: #afb1b8;
  transition: fill 250ms var(--main-timing-function);
}
.social-link:hover .social-link-icon,
.social-link:focus .social-link-icon {
  fill: #ffffff;
}
.team-description {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* CLIENTS */
.clients {
  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  margin-bottom: 50px;
}
.clients-list {
  display: flex;
  justify-content: center;
}
.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms var(--main-timing-function);
}
.clients-link:hover,
.clients-link:focus {
  border-color: var(--active-color);
}
.clients-link-icon {
  fill: #afb1b8;
  transition: fill 250ms var(--main-timing-function);
}
.clients-link:hover .clients-link-icon,
.clients-link:focus .clients-link-icon {
  fill: var(--active-color);
}

/* FOOTER */
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer > .container {
  display: flex;
  align-items: baseline;
}
.container-address {
  margin-right: 70px;
  width: 231px;
}

/* FOOTER-LOGO */
footer .second-part-logo {
  color: #ffffff;
}

/* FOOTER-ADDRESS */
.footer-address {
  margin-top: 20px;
}
footer .geo-link {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #ffffff;

  transition: color 250ms var(--main-timing-function);
}
.footer-address-email,
.footer-address-phone {
  margin-top: 9px;
}
footer .email-link,
footer .phone-link {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  transition: color 250ms var(--main-timing-function);
}
.geo-link:hover,
.geo-link:focus {
  color: var(--active-color);
}

/* FOOTER SOCIAL */
.container-social {
  margin-right: 93px;
}
.container-title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.footer-social-link-list {
  display: flex;
  justify-content: center;
}
.footer-social-link-item:not(:last-child) {
  margin-right: 10px;
}
.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms var(--main-timing-function);
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--active-color);
}
.footer-social-link-icon {
  fill: #ffffff;
}

/* FORM */
.container-footer-form {
  width: 570px;
}
.footer-form {
  display: flex;
}
.footer-form-label {
  margin-right: 12px;
}

.footer-form-input {
  width: 358px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 16px 15px;

  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form-input::placeholder {
  font-size: 16px;
  line-height: calc(20 / 16);
  margin-left: 16px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: unset;
  width: 200px;
  height: 50px;
  padding: 0;
}
.footer-form-btn:hover,
.footer-form-btn:focus {
  background-color: #188ce8;
  transition: background-color 250ms var(--main-timing-function);
}
.footer-form-btn-icon {
  margin-left: 10px;
  fill: #ffffff;
}
/* MODAL WINDOW */
/* BACKDROP */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 250ms var(--main-timing-function),
    visibility 250ms var(--main-timing-function);

  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.2);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* MODAL */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--main-timing-function);

  width: 528px;
  height: 581px;
  padding: 40px;

  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}

/* MODAL FORM */
.modal-form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  margin-bottom: 12px;
}
.modal-form-label {
  display: block;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 10px;
}
.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 0 42px;
  transition: border-color 250ms var(--main-timing-function);
}
.modal-form-input:focus {
  border-color: #2196f3;
  outline: none;
}
.modal-form-input:focus + .modal-form-icon {
  fill: #2196f3;
}
.modal-form-input:not(:placeholder-shown) {
  border-color: #2196f3;
}
.modal-form-input:not(:placeholder-shown) + .modal-form-icon {
  fill: #2196f3;
}
.modal-form-input-wrap {
  display: block;
  position: relative;
  margin-top: 4px;
}
.modal-form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms var(--main-timing-function);
}
.modal-form-textarea-label {
  display: block;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 20px;
}
.modal-form-textarea {
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  padding: 12px 16px;
  transition: border-color 250ms var(--main-timing-function);
}
.modal-form-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-textarea:focus {
  border-color: #2196f3;
  outline: none;
}
.modal-form-textarea:not(:placeholder-shown) {
  border-color: #2196f3;
}
.modal-form-checkbox-input:checked ~ .modal-form-checkbox-icon {
  fill: #2196f3;
  border: none;
}
.modal-form-checkbox-label {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 30px;

  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #757575;
}
.modal-form-contract-link {
  margin-left: 5px;

  font-weight: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: #2196f3;
}
.modal-form-checkbox-icon {
  margin-right: 8px;

  border: 2px solid #212121;
  border-radius: 2px;
  fill: transparent;
  transition: fill 250ms var(--main-timing-function), border 0ms var(--main-timing-function) 250ms;
}
.modal-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: unset;
  transition: background-color 250ms var(--main-timing-function);
}
.modal-form-btn:hover,
.modal-form-btn:focus {
  background-color: #188ce8;
}
.modal-close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 0;
  transition: fill 250ms var(--main-timing-function);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  fill: var(--active-color);
}

/* PORTFOLIO */
/* MAIN */
/* OUR PORTFOLIO */

.filter-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}
.filter-btn {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  color: #212121;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;

  transition: background-color 250ms var(--main-timing-function),
    color 250ms var(--main-timing-function), box-shadow 250ms var(--main-timing-function);
}
.filter-list > .filter-item:not(:last-child) {
  margin-right: 8px;
}
.filter-btn:hover,
.filter-btn:focus {
  color: #ffffff;
  background-color: var(--active-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.projects-list {
  display: flex;
  flex-wrap: wrap;
}
.projects-list > .projects-item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.projects-list > .projects-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
.projects-item {
  flex-basis: calc((100%- (30px * 2) / 3));
}
.projects-link {
  display: block;

  transition: box-shadow 250ms var(--main-timing-function);
}

.projects-link:hover,
.projects-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project-link-wrap {
  position: relative;
  overflow: hidden;
}
.project-wrap-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms var(--main-timing-function);
}
.projects-link:hover .project-wrap-text,
.projects-link:focus .project-wrap-text {
  transform: translateY(0);
}
.project-description {
  border-right: 1px solid#eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  padding: 20px 24px;
}
.projects-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--main-title-color);
}
.projects-item-text {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  margin-top: 4px;
}
